<form name="editFolderForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{'EDIT_USER' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <input type="email" name="email" class="form-control" id="email" placeholder="{{'USER_EMAIL' | translate}}" ng-model="data.email" disabled>
        </div>
        <div class="form-group" ng-if="data.default_public_key | fingerprint">
            {{'DEFAULT_KEY' | translate}}: {{data.default_public_key | fingerprint}}
        </div>

        <uib-tabset class="tabset_expand">
            <uib-tab heading="{{'EXISTING_KEYS' | translate}}">

                <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                    <thead>
                    <tr>
                        <th>{{'FINGERPRINT' | translate}}</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="k in data.public_keys">
                        <td>{{ k | fingerprint }}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm" ng-click="choose_as_default_key(k)" ng-if="!offline">
                                <i class="fa fa-crosshairs" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm" ng-click="delete_public_key(k)" ng-if="!offline">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="add_existing_recipient(k)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </uib-tab>
            <uib-tab heading="{{'ADD_NEW_KEY' | translate}}"  active="data.add_recipients_tab_active">
                <div class="form-group" ng-class="{true: 'has-error'}[submitted && modalAddGPGUserForm.name.$invalid]">
                    <input type="email" name="new_email" class="form-control" id="new_email" placeholder="{{'EMAIL' | translate}}" ng-model="data.new_email">
                    <p class="help-block" ng-show="submitted && modalAddGPGUserForm.name.$error.required">{{'EMAIL_IS_REQUIRED' | translate}}</p>
                </div>
                <div class="form-group">
                    <button class="btn" type="button" ng-click="search_public_key_server();">{{'SEARCH_PUBLIC_KEY_SERVER' | translate}} </button>
                </div>
                <div class="form-group">
                    <textarea class="form-control"
                              placeholder="{{'OR_PROVIDE_THE_PUBLIC_KEY_MANUALLY_INCLUDING' | translate}}: -----BEGIN PGP PUBLIC KEY BLOCK----- and -----END PGP PUBLIC KEY BLOCK-----"
                              ng-model="data.new_public_key"></textarea>
                </div>
                <div class="form-group" ng-if="data.new_public_key | fingerprint">
                    {{'FINGERPRINT' | translate}}: {{data.new_public_key | fingerprint}}
                </div>
                <div class="form-group" ng-if="data.new_public_key | fingerprint">
                    <button class="btn btn-primary" type="button" ng-click="add_new_public_key();">{{'ADD' | translate}}</button>
                </div>
                <div class="form-group" ng-if="data.new_public_key | fingerprint">
                    <div class="error" ng-repeat="e in errors">
                        <span translate="{{ e }}"></span>
                    </div>
                </div>

            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" ng-click="cancel();">{{'CLOSE' | translate}}</button>
    </div>
</form>